# dev
/kubejs/probe
/.vscode

# minecraft
/coremods
/crash-reports
/gtceu
/ldlib
/local
/logs
/mods
/resourcepacks
/saves
/schematics
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
/*.json
.qmenu_opened.marker
options.txt
hotbar.nbt

# specific config files
config/oculus.properties

# the file said to not include it unless you know
# what you're doing... guess what
rhino.local.properties
